.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(1, 1fr);
    /* gap: 5px; */
}
.div1 {
    grid-column: span 12 / span 12;
    background-color: #352ba5;
}
.div1 img {
    width: 140px;
    padding-left: 20px;
}
.div2 {
    grid-column: span 12 / span 12;
    grid-row-start: 2;
    background-color: #1b1b6c;
    color: #fff;
    padding-left: 60px;
}
.div2 .div2-1 h1 {
    font-size: 63px;
}
.div2 .div2-1 p {
    font-size: 21px;
}
.div2 .div2-1 .div2-1-1 {
    background: #F61067;
    border-radius: 0px;
    max-width: 100px;
    padding: 10px 16px;
}

.div3 {
    grid-column: span 8 / span 8;
    grid-row-start: 3;
    padding-left: 60px;
}
.div3 .div3-1 .div3-1-2 {
    background-color: #9090a5;
    width: 100%;
    padding-bottom: 10px;
    color: #fff;
    display: flex;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
.div3 .div3-1 .div3-1-2 p {
    margin-left: 20px;
    display: flex;
    align-content: center;
    column-gap: 8px;
}
.div3 .div3-1-1 h1{
    border-bottom: 1px solid #9090a5;
    padding-bottom: 10px;
    font-size: 35px;
}

.div4 {
    grid-column: span 4 / span 4;
    grid-column-start: 9;
    grid-row-start: 3;
    display: flex;
    justify-content: center;
    align-content: center;
}
.div4-1-1 {
    padding: 15px;
    background-color: #F61067;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.div4-1-2-1 {
    background-color: #9090a5;
}
.div4-1-2-2 {
    background-color: #1b1b6c;
    list-style: none;
}
.div4-1-2 {
    color: #fff;
}
.div4-1-2-1 {
    background-color: #9090a5;
}
.footer {
    background-color: #352ba5;
    display: flex;
    justify-content: center;
    align-content: center;
}



.div5 {
    grid-column: span 12 / span 12;
    grid-row-start: 4;
    background-color: #1b1b6c;
    color: #fff;
    padding: 15px;
    padding-left: 50px;
}