body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: grid;
    grid-template-columns: repeat(12, 2fr);
    grid-template-rows: repeat(1, 2fr);
}

.div1 {
    grid-column: span 12 / span 12;
    background-color: #352ba5;
}

.div1 img {
    width: 140px;
    padding-left: 20px;
}

.div2 {
    grid-column: span 12 / span 12;
    grid-row-start: 2;
    background-color: #1b1b6c;
    color: #fff;
    padding-left: 60px;
}

.div2 .div2-1 h1 {
    font-size: 63px;
}

.div2 .div2-1 p {
    font-size: 21px;
}

.div2 .div2-1 .div2-1-1 {
    background: #F61067;
    border-radius: 0px;
    max-width: 100px;
    padding: 10px 16px;
}

.div3 {
    grid-column: span 8 / span 8;
    grid-row-start: 3;
    padding-left: 60px;
}

.div3 .div3-1 .div3-1-2 {
    background-color: #9090a5;
    width: 100%;
    padding-bottom: 10px;
    color: #fff;
    display: flex;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.div3 .div3-1 .div3-1-2 p {
    margin-left: 20px;
    display: flex;
    align-content: center;
    column-gap: 8px;
}

.div3 .div3-1-1 h1 {
    border-bottom: 1px solid #9090a5;
    padding-bottom: 10px;
    font-size: 35px;
}

.div4 {
    grid-column: span 4 / span 4;
    grid-column-start: 9;
    grid-row-start: 3;
    display: flex;
    justify-content: center;
    gap: 10px;
    position: relative;
    z-index: 10;
}

.div4-1 {
    display: inline-grid;
    gap: 20px;
    /* height: 7px; */
    padding-top: 30px;

}

.div4-1-1 {
    padding: 15px;
    background-color: #F61067;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.msj-span {
    padding: 2px 6px;
    background-color: #1b1b6c;
    border-radius: 65%;
}

.div4-1-2 {
    color: #fff;
    background-color: #1b1b6c;
}

.div4-heading {
    background-color: #9090a5;
    padding: 15px;
}

.div4-text {
    padding: 15px;
}

.div4-list {
    display: grid;
    gap: 15px;
    list-style: none;
    padding: 15px;
    margin-top: -20px;
}

.div4-buttun {
    width: 99%;
}

.div4-buttun input {
    width: 100%;
    background: #352ba5;
    border-radius: 0px;
    border-left: 0px;
    height: 40px;
    border-top: solid #fff 1.5px;
    border-bottom: solid 2.5px #fff;
    border-left: 0px;
    border-right: 0px;

}

.list-send {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #F61067;
}

.footer {
    background-color: #352ba5;
    display: flex;
    justify-content: center;
    align-content: center;
}

.div5 {
    grid-column: span 12 / span 12;
    grid-row-start: 4;
    background-color: #1b1b6c;
    color: #fff;
    padding: 15px;
    padding-left: 50px;
}




@media screen and (max-width: 768px) {
    .container {
        display: block;
    }

    .div4-1 {
        flex-direction: column;
    }

    iframe {
        height: 300px;
    }

    .div2,
    .div3,
    .div4 {
        padding: 20px 10px;
        text-align: center;
    }

    .div4-1-2 input {
        width: 100%;
    }

    .div4-list {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}
.vote-container {
    margin: 40px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
.vote-container p {
    font-size: 1rem;
    margin-bottom: 15px;
}
.progress-bar {
    display: flex;
    height: 8px;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 20px;
}
.progress-bar .cool {
    background-color: #ff007f;
}
.progress-bar .lame {
    background-color: #00d084;
}
.button-container {
    display: flex;
    justify-content: center;
    gap: 15px;
}
button {
    flex: 1;
    padding: 10px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
}
.cool-btn {
    background-color: #ff007f;
    color: white;
    border: none;
}
.cool-btn:hover {
    opacity: 0.9;
}
.lame-btn {
    background-color: transparent;
    border: 2px solid #00d084;
    color: #00d084;
}
.lame-btn:hover {
    background-color: #00d084;
    color: white;
}
